.underline-animation {
    position: relative;
}

.underline-animation::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #cfcfce;
    transition: width 0.2s ease-in-out;
}

.underline-animation:hover::before
 {
    width: 100%;
  
}